
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

svg {
  vertical-align: middle;
  border: 1px solid #EEE;
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 4rem auto;
}
